<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Spring Tienda</title>


<!-- Bootstrap core CSS -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>

	<!-- Navigation -->

	<div th:include="usuarios/template_usuario.html::header" th:if="${var_sesion==null}"></div>
	
	<div th:include="usuarios/template_usuario.html::header-user" th:unless="${var_sesion==null}"></div> <!--se es que no es null -->
	
	

	<!-- Page Content -->
	<div class="container">


		<!-- Page Heading/Breadcrumbs -->
		<h1 class="mt-4 mb-3">
			Spring Tienda mi barrio <small>Carrito</small>
		</h1>

		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a th:href="@{/}">Inicio</a></li>
			<li class="breadcrumb-item active">Carrito</li>
		</ol>

		<!-- Blog Post -->
		<div class="card mb-4">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-9">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Producto</th>
									<th scope="col">Precio</th>
									<th scope="col">Cantidad</th>
									<th scope="col">Total</th>
									<th scope="col">Acción</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="ventas:${carrito_compras}">
									<td th:text="${ventas.nombre}"></td>
									<td th:text="${ventas.precio}"></td>
									<td th:text="${ventas.cantidad}"></td>
									<td th:text="${ventas.total}"></td>
									<td><a th:href="@{/eliminar/carrito/{id} (id=${ventas.producto.id}) }" class="btn btn-danger">Quitar</a></td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="col-lg-3">
						<h2 class="card-title">SUBTOTAL</h2>

						<ul class="list-group">
							<li class="list-group-item"><h5 th:text="${fact.total}"></h5></li>
							
							<a th:href="@{/venta}" class="btn btn-dark">Ver compra</a>
						</ul>
					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- /.container -->

	<!-- Footer -->
	
	<div th:include="usuarios/template_usuario.html::footer"></div>

	<!-- Bootstrap core JavaScript -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
