<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Spring Tienda</title>


<!-- Bootstrap core CSS -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{/css/heroic-features.css}" rel="stylesheet">


</head>

<body>

	<!-- Navigation -->
	<div th:include="usuarios/template_usuario.html::header"
		th:if="${var_sesion==null}"></div>
	<div th:include="usuarios/template_usuario.html::header-user"
		th:unless="${var_sesion==null}"></div>
	<!--se es que no es null -->
	<!-- Page Content -->
	<div class="container">


		<!-- Page Heading/Breadcrumbs -->
		<h1 class="mt-4 mb-3">
			Tienda mi barrio <small>Detalles de la compra</small>
		</h1>

		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a th:href="@{/}">Inicio</a></li>
			<li class="breadcrumb-item"><a th:href="@{/usuario/compras}">Compras</a></li>
			<li class="breadcrumb-item active">Detalle de Compra</li>
		</ol>

		<!-- Blog Post -->
		<div class="card mb-4">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-12">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Cantidad</th>
									<th scope="col">Producto</th>
									<th scope="col">Precio</th>
									<th scope="col">Total</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="detalle: ${var_detalle}">
									<td th:text="${detalle.cantidad}"></td>
									<td th:text="${detalle.nombre}"></td>
									<td th:text="${detalle.precio}"></td>
									<td th:text="${detalle.total}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container -->

	<!-- Footer -->
	<div th:include="usuarios/template_usuario.html::footer"></div>

	<!-- Bootstrap core JavaScript -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>

