<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Spring tienda</title>


<!-- Bootstrap core CSS -->
<link th:href="@{vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{css/heroic-features.css}" rel="stylesheet">

</head>

<body>
	<div align="center" th:classappend="'alert-' + (${clase != null} ? ${clase} : info)"
		th:if="${mensaje != null}" th:text="${mensaje}" class="alert"></div>
	<!-- Navigation -->
	<!-- Navigation -->
	<div th:include="usuarios/template_usuario.html::header" th:if="${var_sesion==null}"></div>
	
	<div th:include="usuarios/template_usuario.html::header-user" th:unless="${var_sesion==null}"></div> <!--se es que no es null -->

	<!-- Page Content -->
	<div class="container">

		<!-- Jumbotron Header -->
		<header class="jumbotron my-3">
			<h1 class="display-4">Tienda grupo # 01 Ciclo No.3</h1>
			<p class="lead">Mi barrio artículos en Línea</p>
		</header>

		<!-- Page Features -->
		<div class="row text-center">

			<div class="col-lg-3 col-md-6 mb-4" th:each="productos: ${proto} ">
				<div class="card h-100">
					<img class="card-img-top" width="50" height="150"
						th:src="@{/imagenes/{img} (img=${productos.imagen})}" alt="">
					<div class="card-body">
						<p class="card-text" th:text="${productos.nombre}"></p>
					</div>
					<div class="card-footer">
						<a th:href="@{/productoIndex/{id} (id=${productos.id})}"
							class="btn btn-success">Ver producto</a>
					</div>
					
				</div>
			</div>
		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->

	<!-- Footer -->
	<div th:include="usuarios/template_usuario.html::footer"></div>

	<!-- Bootstrap core JavaScript -->
	<script th:src="@{vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
