<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Spring eCommerce</title>


<!-- Bootstrap core CSS -->

<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
		<div class="container">
			<a class="navbar-brand" th:href="@{/}">Tienda mi barrio</a>


			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" th:href="@{/usuario/login}">Login</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>


	<!-- Page Content -->
	<div class="container">

		<div class="card mb-3">
			<div class="row no-gutters">
				<div class="col-md-4"></div>
				<div class="col-md-8">
					<div class="card-body">
						<h2>Registro del Cliente</h2>

					</div>
				</div>
			</div>
		</div>
		<form th:action="@{/usuario/guardarUsuario}" method="post">
			<div class="form-group">
				<label for="nombres">Nombres:</label> <input type="text"
					class="form-control" id="nombre" name="nombre" required
					placeholder="Ingrese sus nombres" autocomplete="off">
			</div>

			<div class="form-group">
				<label for="email">Email:</label> <input type="email"
					class="form-control" id="email" name="email" required
					placeholder="Ingrese su email" autocomplete="off">
			</div>

			<div class="form-group">
				<label for="direccion">Dirección:</label> <input type="text"
					class="form-control" id="direccion" name="direccion" required
					placeholder="Ingrese su dirección" autocomplete="off">
			</div>
			<div class="form-group">
				<label for="direccion">Teléfono:</label> <input type="text"
					class="form-control" id="telefono" name="telefono" required
					placeholder="Ingrese el número de Celular" autocomplete="off">
			</div>

			<div class="form-group">
				<label for="pwd">Contraseña</label> <input type="password"
					class="form-control" id="password" name="password" required
					placeholder="Ingrese su contraseña" autocomplete="off">
			</div>
			<div class="col-sm-2">
				<button type="submit" class="btn btn-success">Guardar</button>
			</div>
		</form>

	</div>

	<!-- /.container -->

	<!-- Footer -->
	<div th:include="usuarios/template_usuario.html::footer"></div>

	<!-- Bootstrap core JavaScript -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
