<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Spring Tienda</title>


<!-- Bootstrap core CSS -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>

	<!-- Navigation -->
	<div th:include="usuarios/template_usuario.html::header"></div>

	<!-- Page Content -->
	<div class="container">


		<!-- Page Heading/Breadcrumbs -->
		<h1 class="mt-4 mb-3">
			Spring Tienda mi barrio <small>Resumen de la compra</small>
		</h1>

		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a th:href="@{/}">Inicio</a></li>
			<li class="breadcrumb-item active">Resumen de la Compra</li>
		</ol>

		<!-- Blog Post -->
		<div class="card mb-4">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-9">
						<div class="card-body">
							<h5 class="card-title">DATOS FACTURA</h5>
							<h6 th:text=" 'Nombre: ' + ${vistaUsuario.nombre}"></h6>
							<h6 th:text=" 'Correo electrónico: ' + ${vistaUsuario.email}"></h6>
							<h6 th:text=" 'Dirección: ' + ${vistaUsuario.direccion}"></h6>

							<h5 class="card-title">PRODUCTOS</h5>
							<div class="alert alert-light" role="alert">
								<table class="table">
									<thead>
										<tr>
											<th scope="col">Producto</th>
											<th scope="col">Precio</th>
											<th scope="col">Cantidad</th>
											<th scope="col">Total</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="detalle:${carrito_compras}">
											<td th:text="${detalle.nombre}"></td>
											<td th:text="${detalle.precio}"></td>
											<td th:text="${detalle.cantidad}"></td>
											<td th:text="${detalle.total}"></td>

										</tr>
									</tbody>
								</table>
							</div>

						</div>
					</div>


					<div class="col-lg-3">
						<h2 class="card-title">Resumen Venta</h2>

						<ul class="list-group">
							<li class="list-group-item"><h5 th:text="'Total: ' + ${fact.total}">Total:</h5></li>
							<a th:href="@{/guardarVenta}" class="btn btn-dark">Generar</a>
						</ul>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container -->

	<!-- Footer -->
	<div th:include="usuarios/template_usuario.html::footer"></div>

	<!-- Bootstrap core JavaScript -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>
