<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Spring Tienda</title>


<!-- Bootstrap core CSS -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>
	<!-- Navigation -->
	<div th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
			<div class="container">
				<a class="navbar-brand" th:href="@{/}">Tienda mi barrio</a>

				<form class="form-inline my-2 my-lg-0" method="post"
					th:action="@{/buscar}">
					<input class="form-control mr-sm-2" type="search"
						placeholder="Buscar" aria-label="Search" name="var_nombre"
						autocomplete="off">
					<button class="btn btn-danger my-2 my-sm-0" type="submit">Buscar</button>
				</form>


				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarResponsive" aria-controls="navbarResponsive"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link"
							th:href="@{/obtenerCarrito}">Carrito</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/usuario/login}">Login</a></li>
					</ul>
				</div>
			</div>
		</nav>

	</div>
	<!-- Navigation -->
	<div th:fragment="header-user">
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
			<div class="container">
				<a class="navbar-brand" th:href="@{/}">Tienda mi barrio</a>

				<form class="form-inline my-2 my-lg-0" method="post" th:action="@{/buscar}">
					<input class="form-control mr-sm-2" type="search"
						placeholder="Buscar" aria-label="Search" name="var_nombre"
						autocomplete="off">
					<button class="btn btn-danger my-2 my-sm-0" type="submit">Buscar</button>
				</form>


				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarResponsive" aria-controls="navbarResponsive"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#"
							id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false"> Usuario-Cliente </a>
							<div class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" th:href="@{/usuario/compras}">Mis Compras</a>
								<a class="dropdown-item" th:href="@{/obtenerCarrito}">Carrito</a>
								<a class="dropdown-item" th:href="@{/usuario/cerrar}">Cerrar Sesión</a>
							</div></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>



	<!-- Footer -->
	<div th:fragment="footer">
		<footer class="py-2 bg-info">
			<div class="container">
				<p class="m-0 text-center text-white">Derechos reservados de internet @Raychu</p>
			</div>
			<!-- /.container -->
		</footer>
	</div>


	<!-- Bootstrap core JavaScript -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
