<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Spring tienda</title>


<!-- Bootstrap core CSS -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>

	<!-- Navigation -->
	<div th:include="administrador/template_admin.html::header"></div>

	<!-- Page Content -->
	<div class="container">


		<!-- Page Heading/Breadcrumbs -->
		<h1 class="mt-4 mb-3">
			Spring tienda mi barrio <small>Productos</small>
		</h1>

		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a th:href="@{/administrador}">Inicio</a></li>
			<li class="breadcrumb-item active">Ver Productos</li>
		</ol>

		<a class="btn btn-primary" th:href="@{/productos/crearP}"> Crear Producto</a>
		<h2>Productos</h2>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Nombre</th>
					<th scope="col">Descripción</th>
					<th scope="col">Inventario</th>
					<th scope="col">Precio</th>
					<th scope="col">Acción</th>
					<th scope="col">Acción</th>
				</tr>
			</thead>
			<tbody>
				<!-- el each me permite recorrer una lista -->
				<tr th:each="p:${produ}">
					<td th:text="${p.nombre}"></td>
					<td th:text="${p.descripcion}"></td>
					<td th:text="${p.cantidad}"></td>
					<td th:text="${p.precio}"></td>
					<td><a class="btn btn-warning" th:href="@{productos/editar/{id} (id=${p.id}) }">Editar</a></td>
					<td><a class="btn btn-danger" th:href="@{productos/eliminar/{id} (id=${p.id}) }">Eliminar</a></td>
				</tr>
			</tbody>
		</table>

	</div>
	<!-- /.container -->

	<!-- Footer -->
	<div th:include="administrador/template_admin.html::footer"></div>

	<!-- Bootstrap core JavaScript -->

	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
