<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Spring tienda</title>


<!-- Bootstrap core CSS -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>

	<!-- Navigation -->
	<div th:include="administrador/template_admin.html::header"></div>

	<!-- Page Content -->
	<div class="container">


		<!-- Page Heading/Breadcrumbs -->
		<h1 class="mt-4 mb-3">
			Tienda mi barrio <small>Producto</small>
		</h1>

		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a th:href="@{/administrador}">Inicio</a></li>
			<li class="breadcrumb-item active">Producto</li>
		</ol>

		<!-- Blog Post -->
		<div class="card mb-4">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6">
						<a href="#"> <img class="img-fluid rounded"
							th:src="@{/imagenes/{img} (img=${mostrarProducto.imagen}) }" alt="">
						</a>
					</div>
					<div class="col-lg-6">
						<form action="" method="POST">
						<input type="hidden" th:value="${mostrarProducto.id}" name="id">
							<h2 class="card-title" th:text="${mostrarProducto.nombre}"></h2>

							<ul class="list-group">
								<li class="list-group-item"><h5 th:text=" 'Precio : ' + ${mostrarProducto.precio}"></h5></li>
								<li class="list-group-item" th:text=" 'Descripción: ' + ${mostrarProducto.descripcion}">
								<li class="list-group-item" th:text=" 'Inventario: ' + ${mostrarProducto.cantidad}">
									<p></p>
								</li>
								
							</ul>


							

						</form>
					</div>
				</div>
			</div>
		</div>


	</div>
	<!-- /.container -->

	<!-- Footer -->
	<div th:include="administrador/template_admin.html::footer"></div>

	<!-- Bootstrap core JavaScript -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
